.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* Use attribute selector to target all elements with an id that starts with "expandingTextArea" */
[id^="expandingTextArea"] {
  width: 100%;
  min-height: 1px;
  overflow-y: hidden;
  resize: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

/* Use attribute selector to target all elements with an id that starts with "emojiButton" */
[id^="emojiButton"] {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.content-container {
  display: flex;
  align-items: center;
}
